# Avoid including Experiment files: they can be created and edited locally to test the ipf files
*.pxp
*.pxt
*.uxp
*.uxt
.flutter-plugins
.flutter-plugins-dependencies
.buildlog
.pub/
build/
packages
.packages
.DS_Store
.atom/
.idea
.dart_tool/
pubspec.lock