# Avoid including Experiment files: they can be created and edited locally to test the ipf files
*.pxp
*.pxt
*.uxp
*.uxt
.flutter-plugins
.flutter-plugins-dependencies
.buildlog
.pub/
build/
.dart_tool/
packages
.packages
.DS_Store
.atom/
.idea
pubspec.lock
.dart_tool/flutter_build/7b076ecb80d674d317dfbf3bdd36e38b/app.dill
.dart_tool/flutter_build/7b076ecb80d674d317dfbf3bdd36e38b/.filecache
